/* end-button */
.css-sghohy-MuiButtonBase-root-MuiButton-root{
    padding: 10px 49px !important;
    font-size: x-large !important;
text-align: center;
}


/* input */
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
    /* background-color: white !important; */
    /* color: blue !important; */
    /* padding: 1px !important;
    width: 100% !important;
    font-size: xxx-large !important;
    /* border-radius: % !important; */
    /* text-align: center;
    margin-top: 5% !important; */ 
}
body{
    text-align: center;
}


