/* end-button */
.css-sghohy-MuiButtonBase-root-MuiButton-root {
    padding: 10px 49px !important;
    font-size: x-large !important;
    text-align: center;
}


/* input */


#alert {
    /* display: none; */
    visibility: hidden;
    width: 26.5vw;
    margin-right: 25%;
    /* padding: 10px; */
    font-size: small
}

#addRE {
    margin-left: 45vw !important;
}

body {
    text-align: center;
    background-color: #525252 ;
}

.tz-filed {
    background-color: white !important;
    color: blue !important;
    padding: 1px !important;
    width: 50% !important;
    font-size: small !important;
    /* border-radius: % !important; */
    text-align: center !important;
    margin-top: 5% !important;
}

#ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#li {
    list-style-type: none;
    flex-grow: 1;
    overflow-wrap: break-word;
    margin-top: 40px;
}