body{
  background-color: #f1f1f1 !important;
}


.css-ke5b6m-MuiButtonBase-root-MuiButton-root{
  background-color: white !important;
  color: blue !important;
  padding: 58px !important;
  width: 39% !important;
  font-size: xxx-large !important;
  border-radius: 10% !important;
  margin-left: 7% !important;
  margin-top: 10% !important;
}

.css-ke5b6m-MuiButtonBase-root-MuiButton-root:hover{
  background-color: blue !important;
  color:white !important;
}

h1{
  font-size: 500%;
  color: blue;
  text-align: center;
}
